*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-link {
  color: white;
  font-family: serif;
  font-size: large;
}

.titulo{
  text-align: center;
  text-transform: uppercase;
  font-family:serif;
}

.subtitulo{
  margin: 5px;
  font-family: serif;
}

.historia p{
  text-align: justify;
  margin: 5px;
  justify-content: center;
}
.container{
  max-width: 1400px;
  margin: auto;
}

.torneos{
  background-color: rgb(57, 124, 57);
  color: white;
  text-align: center;
}

.torneos .container{
  padding: 100px 12px;
}

.torneos h2{
  margin-top: 0;
}

.torneos p{
  display: none;
}

.torneos .carta{
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
}

.carta:first-child{
  background-image: linear-gradient(0deg, rgba(0,0,0,0,5), rgba(0,0,0,0,5)), url("");
}

.carta:nth-child(2){
  background-image: linear-gradient(0deg, rgba(0,0,0,0,5), rgba(0,0,0,0,5)), url("");
}

.carta:nth-child(2){
  background-image: linear-gradient(0deg, rgba(0,0,0,0,5), rgba(0,0,0,0,5)), url("");
}

.carta:nth-child(2){
  background-image: linear-gradient(0deg, rgba(0,0,0,0,5), rgba(0,0,0,0,5)), url("");   
}


