*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-link {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}

.titulo{
  text-align: center;
  text-transform: uppercase;
  font-family:serif;
}

.subtitulo{
  margin: 5px;
  font-family: serif;
  text-decoration: underline;
}

.historia p{
  text-align: justify;
  font-family: serif;
  margin: 5px;
  justify-content: center;
  font-size: large;
}

.container_c {
  color: white;
  margin: 0 auto;
  text-align: center;
}

.container_c h1 {
  font-family: serif;
  font-size:40px;
  letter-spacing: .125rem;
  text-transform: uppercase;
  padding-top: 20px;
}

.container_c li {
  display: inline-block;
  font-family: serif;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.container_c li span {
  display: block;
  font-size: 3.5rem;
}

.calendario{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35vh;
}

.wrapper{
  width: 450px;
  background-color: white;
  border-radius: 10px;
  color: black;
}

.wrapper header{
  display: flex;
  align-items: center;
  padding: 5px 20px;
  justify-content: space-between;
  height: 90px;
}

header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}

header .icons{
  display: flex;
}

header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

header .icons span:hover{
  background:#f2f2f2;
}

header .icons span:last-child{
  margin-right: -10px;
}

.calendar{
  padding: 20px;
}

.calendar ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}

.calendar .dia{
  margin-bottom: 20px;
}

.calendar .semana li{
  font-weight: 500;
  cursor: default;
}

.calendar .dia li{
  cursor: pointer;
  margin-top: 10px;
  z-index: 1;
  position: relative;
}

.dia li.inactive{
  color: #aaa;
}

.dia li.active{
  color: #fff;
}

.calendar ul li{
  position: relative;
  width: calc(100% /7);
}

.calendar .dia li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.dia li.active::before{
  background: #155d27;
}
.dia li:not(.active):hover::before{
  background: #f2f2f2;
}

.container{
  padding-top: 30px;
}

#nombre_torneos{
  background-color: #155d27;
  color: white;
  text-align: center;
  
}

#nombre_torneos .carta{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  margin:20px;
  border-color: black;
  border-radius: 15px;
  width: 100%;
  flex-grow: 0;
  
}

#nombre_torneos .torneos{
  display: flex;
  justify-content: center;
}

#nombre_torneos p{
  display: block;
  margin-top:80px;
  margin-bottom: 30px;
  font-family: serif;
}

#nombre_torneos h3{
  margin-top: 0;
  margin-bottom: 20px;
  font-family: serif;
}

#nombre_torneos h2{
  font-size: 2em;
  font-family: serif;
  margin-top: 10px;
}


#nombre_torneos .carta{
 padding: 50px;
 margin-bottom: 30px;
 background-size: 100% 150px;
 background-position-y:0 ;
 background-color: rgb(50,50,50,0.5);
 box-shadow: 2px 2px 10px rgba(0,0,0,0.5); 
}



.carta:first-child{
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("media/augusta.jpg");
}

.carta:nth-child(2){
  background-image:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("media/USOPEN.png");
}

.carta:nth-child(3){
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("media/abritanico.png");
}

.carta:nth-child(4){
  background-image:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("media/pga-tour-logo.jpg");
}

.footer-basic {
  padding:10px 0;
  background-color:white;
  color:155d27;
  padding-top: 20px;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}





@media screen and (max-width: 1030px){
  .subtitulo{
    text-align: center; 
  }

  .wrapper header {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 10px;
  }

  header .current-date {
    margin-bottom: 10px;
  }

  header .icons span {
    margin: 5px 2px;
  }
  
  .container_c h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  .container_c li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  .container_c li span {
    font-size: calc(3.375rem * var(--smaller));
  }



  #nombre_torneos .container{
    padding: 150px 0px;
  }
   
  #nombre_torneos h2{
    margin-top: 0;
  }
   #nombre_torneos p{
     display: none;
   }

  .historia{
    justify-content: center;
  }
  .historia p{
    padding: 20px;
  }

   #nombre_torneos .carta{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:2px;
    margin-bottom: 7px;
    padding:45px;
   }

   #nombre_torneos .torneos{
    flex-direction: column;
  }
   
}