*{
    border: 1px solid red;
}

body{background-color: yellow;}

.elemento{
    color:white;}

.margen{
    margin-top: 10px}

.p1{
    font-family: 'Times New Roman', Times, serif;
}  
   /*la que quiero, la alternativa, la que encuentres*/
.p2{
    font-family: Arial, Helvetica, sans-serif;
}

/*A partir de los 480px aplicar cambio de pantalla*/
@media screen and (mid-width: 480){
    body{
        background-color: lightgreen
        }
    }